@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #171a1f;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(212 212 212);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(250 250 251);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(212 212 212);
  border-radius: 100px;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
